* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.only-pc {
    display: none;
}

.only-sp {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    padding: 0 20px;
}

header {
    padding: 36px 0 18px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
    #hamburger {
        width: 30px;
        height: 9px;
        position: relative;
    }
    &_hamburger {
        &--line {
            background: #333;
            width: 100%;
            height: 2px;
            position: absolute;
            transition: .3s;
            &.close {
                background: #fff;
                z-index: 2;
            }
            &.line01 {
                top: 0;
                &.close {
                    transform: rotateZ(45deg);
                    top: 50%;
                }
            }
            &.line02 {
                bottom: 0;
                &.close {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
        }
    }
    &_menu {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100vw;
        overflow: hidden;
        background: rgba(51,51,51,.9);
        color: #fff;
        margin-left: -20px;
        left: -600px;
        transition: .3s;
        &.close {
            left: 20px;
        }
        ul {
            padding: 36px 50px;
            li {
                padding-bottom: 14px;
            }
        }
    }
}

.glnav {
    margin-top: 25.5px;
    ul {
        display: flex;
        overflow-x: scroll;
        font-size: 12px;
        li {
            &:not(:first-child) {
                margin-left: 14px;
            }
            a {
                display: inline;
                border-bottom: 0;
                padding-bottom: 0;
                &.active {
                    border-bottom: 1px solid #333;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

footer {
    padding: 0 20px;
    margin-bottom: 21px;
    .sns {
        ul {
            display: flex;
            font-size: 12px;
            li {
                &:not(:first-child) {
                    padding-left: 32px;
                }
            }
        }
    }

    small {
        font-size: 10px;
    }
}

@media screen and (min-width: 1025px) {
    body {
        padding: 0 160px;
    }

    .only-pc {
        display: block;
    }

    .only-sp {
        display: none;
    }

    .head {
        display: block;
        position: relative;
        h1 {
            text-align: center
        }
        &_menu {
            font-size: 12px;
            height: auto;
            width: auto;
            background: none;
            position: absolute;
            top: 60px;
            right: 0;
            left: auto;
            color: #333;
            ul {
                display: flex;
                padding: 0;
                li {
                    &:last-child {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .glnav {
        ul {
            overflow-x: inherit;
        }
    }
}